:root {
  --background-color: rgb(234, 233, 231);
}
* {
  /* overflow-x: hidden; */
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
}
.input {
  margin-bottom: 20px;
}
.img-resize {
  object-fit: cover;
}
.my-card {
  width: 40%;
  overflow: hidden;
}
.card-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
@media (min-width: 700px) {
  .input {
    width: 50%;
  }
  .formController {
    width: 50vw;
  }
  .textController {
    text-align: center;
  }
}
@media (max-width: 763px) {
  .my-card {
    width: 70%;
  }
  .my-card img {
    width: 70%;
    object-fit: contain;
  }
}
@media (max-width: 500px) {
  .my-card {
    width: 100%;
  }
}
